networks:
  mosquitto-network:
    driver: bridge

services:
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    restart: always
    deploy:
      resources:
        limits:
          memory: 256M
    ports:
      - "1883:1883"
    volumes:
      - ./config/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
    security_opt:
      - no-new-privileges:true

  influxdb:
    image: influxdb:2.7.1
    container_name: influxdb
    restart: always
    ports:
      - 8086:8086
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=groupd
      - DOCKER_INFLUXDB_INIT_BUCKET=iot_data
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=DD85150B-3871-4622-8D14-45BFE743C270
    volumes:
      - influxdb-data:/var/lib/influxdb

  grafana:
    image: grafana/grafana:9.3.2
    container_name: grafana
    restart: always
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    volumes:
      - grafana-data:/var/lib/grafana
      - ./config/grafana/datasource.yaml:/etc/grafana/datasources/datasource.yaml
    depends_on:
      mosquitto:
        condition: service_started
      influxdb:
        condition: service_started

  telegraf:
    image: telegraf:alpine
    volumes:
      - ./config/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf
    depends_on:
      - mosquitto
      - influxdb

volumes:
  influxdb-data:
  grafana-data:
